/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #95f9c3, #42047e);
  min-height: 100vh;
}

i {
  font-size: 14px;
  color: #95f9c3;
}

.header-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  color: #08203e;
  text-align: center;
}

.primary-heading {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

/* EXPERIMENTAL TOGGLE SWITCH STYLING */

/* .pricing-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.switch-toggle {
  background-color: #dcdde1;
  border: 1px solid #dcdde1;
  padding: 10px 30px;
  border-radius: 50em;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: flex-start;
  width: 100px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition-delay: 0.1s;
  transition: color 0.3s ease;
}

input[type="radio"]:checked + label {
  color: #fff;
  text-decoration: none;
}

.switch {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 30px;
  width: 120px;
  background-image: linear-gradient(to right, #95f9c3, #42047e);
  border-radius: 50em;
  transition: transform 0.3s;
}

input[type="radio"]:checked + label + .switch,
input[type="radio"]:checked + label:nth-of-type(n) + .switch {
  transform: translateX(130px);
} */

.pricing-table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  background-color: #08203e;
  border-radius: 10px;
  padding: 25px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 1);
}

.pricing-plan {
  border: 1px solid #8395a7;
  border-radius: 10px;
  margin-bottom: 30px;
}

.pricing-plan:last-child {
  margin-bottom: 0;
}

.pricing-img {
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin: 20px 0;
}

.pricing-header {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px;
}

.pricing-cost {
  color: #fff;
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-right: 5px;
}

.pricing-monthly {
  text-transform: lowercase;
  color: #dcdde1;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #dcdde1;
  text-align: left;
}

.pricing-features-items {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #8395a7;
  margin: 0 25px;
}

.pricing-button {
  border: none;
  color: #0b3866;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin-top: 25px;
  background-color: #95f9c3;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 200ms ease-in-out;
  font-size: 12px;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #80d9a9;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
  }

  .pricing-plan {
    margin: 0 10px;
    width: 100%;
  }

  .pricing-plan.is-featured {
    background-color: #42047e;
    transform: translateY(-50px);
  }

  .pricing-plan:hover {
    background-color: #42047e;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50px);
    cursor: pointer;
  }

  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #6f7bf7;
    color: white;
    border: none;
    transition: all 200ms ease-in-out;
  }
}
